@import "_includes/vars";
@import "_includes/mixins";
@import "_includes/functions";
@import "_includes/roboto";
@import "_includes/main";
@import "_includes/section";
@import "_includes/jquery-ui";
@import "_blocks/jquery-ui/ui-widget";
@import "_blocks/jquery-ui/ui-autocomplete";
@import "_blocks/jquery-ui/ui-menu-item";
// user
@import "_blocks/user/user";
@import "_blocks/user/user-list";
@import "_blocks/user/profile";
@import "_blocks/user/account-item";
@import "_blocks/user/shareholder";
@import "_blocks/user/profile-popup";
// forms
@import "_blocks/form/custom-control";
@import "_blocks/form/form-group";
@import "_blocks/form/input-group";
@import "_blocks/form/form-control";
@import "_blocks/form/form-text";
@import "_blocks/form/search";
@import "_blocks/form/filter";
@import "_blocks/form/form-separator";
@import "_blocks/form/progress-line";
@import "_blocks/form/upload-list";
@import "_blocks/form/upload-item";
@import "_blocks/form/upload-file";
// bootstrap
@import "_blocks/bootstrap/typography";
@import "_blocks/bootstrap/dropdown";
@import "_blocks/bootstrap/btn";
@import "_blocks/bootstrap/text";
@import "_blocks/bootstrap/badge";
@import "_blocks/bootstrap/spacing";
@import "_blocks/bootstrap/datepicker";
@import "_blocks/bootstrap/table";
// login
@import "_blocks/login/login";
@import "_blocks/login/sing-block";
@import "_blocks/login/sing-up";
@import "_blocks/login/sing-in";
@import "_blocks/login/login-bg";
// header
@import "_blocks/header/navbar";
@import "_blocks/header/nav";
@import "_blocks/header/notification";
// blocks
@import "_blocks/container";
@import "generated/sprite-svg";
@import "_blocks/icon";
@import "_blocks/task-list";
@import "_blocks/transactions/transactions";
@import "_blocks/transactions/transaction-item";
@import "_blocks/transactions/transaction";
@import "_blocks/transactions/contacts";
@import "_blocks/transactions/contact-item";
@import "_blocks/transactions/exchange";
@import "_blocks/datepicker";
@import "_blocks/chart";
@import "_blocks/select2";
@import "_blocks/information";
// popup
@import "_blocks/popup/popup";
@import "_blocks/popup/timeout";
@import "_blocks/popup/progress-ring";

//@media (min-width: 480px) {
//    .out {
//        -webkit-transition: -webkit-transform 600ms cubic-bezier(0.415, 0, 0.185, 1);
//        transition: -webkit-transform 600ms cubic-bezier(0.415, 0, 0.185, 1);
//        transition: transform 600ms cubic-bezier(0.415, 0, 0.185, 1);
//        transition: transform 600ms cubic-bezier(0.415, 0, 0.185, 1), -webkit-transform 600ms cubic-bezier(0.415, 0, 0.185, 1)
//    }
//
//    .popup-open .out {
//        -webkit-transform: translate(-100px, 0);
//        transform: translate(-100px, 0)
//    }
//}
