.progress-ring {
    &_empty {
        &:before {
            content: '';
            display: block;
            width: 120px;
            height: 120px;
            margin: 0 auto;
            position: relative;
            border: 2px solid $light-silver;
            border-radius: 100%;
        }
    }
    &__circle {
        transition: 1s stroke-dashoffset;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }
}
