---
taskLists: [
    {
        id: 1,
        fromTitle: 'Red Bull Media House',
        fromText: '<p>Type something</p>',
        toTitle: 'Fabio Wibmer',
        toText: "<p>Personal Account</p>\n<p>XXXX XXXX XXXX XXXX</p>",
        symbol: '$',
        sum: '100,000.00'
    },
    {
        id: 2,
        fromTitle: 'Red Bull Media House',
        fromText: '<p>Type something</p>',
        toTitle: 'Fabio Wibmer',
        toText: "<p>Personal Account</p>\n<p>XXXX XXXX XXXX XXXX</p>",
        symbol: '$',
        sum: '100,000.00'
    }
]
---

{% extends "layouts/_layout.html" %}

{% block content %}

<main>
    {% include "partials/_header-on.html" %}
    {% include "partials/ui_kit/_progress-bar.html" %}
    {% include "partials/ui_kit/_information.html" %}
    {% include "partials/_footer.html" %}
</main>

{% endblock %}
