
{% extends "layouts/_layout.html" %}

{% block content %}

<main class="login">
    <div class="container-fluid login__container">
        <div class="row">
            <div class="col-md-12 col-xl-7">
                {% include "partials/login/_header.html" %}
                {% include "partials/login/_sing-up.html" %}
            </div>
            <div class="d-none d-xl-flex col-xl-5 h-100 position-relative">
                {% include "partials/login/_login-bg.html" %}
            </div>
        </div>
    </div>
</main>

{% endblock %}
