<div class="sing-in">
    <div class="sing-in__in">
        <h1>Welcome to our club</h1>
        <div class="lead sing-in__lead">
            Enter your details below.
        </div>
        <form action="" class="sing-in__form">
            <div class="form-group">
                <label for="mail">Email</label>
                <div class="form-control-shadow">
                    <input type="text" class="form-control" id="mail" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label>Choose profile type</label>
                </div>
                <div class="col-6">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio"
                               class="custom-control-input" checked>
                        <label class="custom-control-label" for="customRadio1">Individual profile</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio"
                               class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Company profile</label>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Registration</button>
        </form>
    </div>
</div>
