.contact-item {
    font-size: 12px;
    border-bottom: $border-body;

    &.open {
        .contact-item__body {
            max-height: 1000px;
        }

        .contact-item__toggle {
            &:before {
                width: 12px;
                right: -1px;
            }
            &:after {
                width: 12px;
                right: -1px;
            }
        }
    }

    &__body {
        max-height: 0;
        padding-left: 17px;
        padding-right: 14px;
        overflow: hidden;
        transition: all 500ms ease-in-out;
    }

    &__shadow {
        position: relative;
        &:before {
            @extend .form-control-shadow:before;
            z-index: 5;
        }
    }
    &__header {
        display: flex;
        justify-content: start;
        background-color: $white;
        padding: 11px 27px 11px 13px;
        position: relative;
        z-index: 10;
    }
    &__icon {
        display: flex;
        align-items: center;
        width: 30px;
        margin-right: 5px;
    }
    &__photo {
        width: 36px;
        height: 36px;
        margin-right: 13px;
        margin-top: 2px;
        border-radius: 6px;
        overflow: hidden;
        img {
            width: 36px;
            height: auto;
        }
    }
    &__person {
        font-weight: 500;
        line-height: 1.4;
        margin-right: 13px;
        padding-top: 3px;
        @include lg {
            min-width: 310px;
        }
    }
    &__name {
        font-size: 14px;
    }
    &__additional {
        color: $gray;
    }
    &__info {
        font-weight: 500;
        line-height: 1.4;
        margin-right: 13px;
        padding-top: 3px;
    }
    &__account {
        font-size: 14px;
        font-weight: 500;
    }
    &__last-transaction {
        color: $gray;
    }
    &__controls {
        display: flex;
        align-items: center;
        margin-left: auto;
        a {
            color: $gray;
            font-size: 12px;
            font-weight: 400;
            text-decoration: underline;
            margin-left: 49px;
            @include hover {
                text-decoration: none;
            }
        }
    }
    &__toggle {
        display: inline-block;
        padding-right: 18px;
        position: relative;
        &:before {
            @extend .profile-link:before;
            width: 7px;
            top: 8px;
            right: 3px;
        }
        &:after {
            @extend .profile-link:after;
            width: 7px;
            top: 8px;
            right: 0;
        }
    }
}
