.transactions {
    position: relative;
    &-tabs {
        margin-bottom: px2rem(9px);
    }
    &-filters {
        display: flex;
        align-items: center;
        margin-bottom: px2rem(6px);

        .filter {

        }
    }
    &-content {
        padding: 16px 8px 7px;
        margin-bottom: 100px;
    }
    &-title {
        color: $gray;
        font-size: px2rem(12px);
        text-align: center;
        margin: 11px 0 10px;
    }
    &-wrapper {

    }
}