.transaction-item {
    padding: 15px 15px 14px 0;
    border: $border-body;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: relative;
    transition: all 200ms ease-in-out;

    @include hover {
        background-color: $light;
    }

    &:before {
        @extend .profile-link:before;
        top: 29px;
        right: 24px;
    }
    &:after {
        @extend .profile-link:after;
        top: 29px;
        right: 21px;
    }

    &.open {
        //margin-top: 2px;
        background-color: $light;
        border-left-color: $body;
        border-right-color: $body;
        border-bottom-color: $body;

        &:before {
            right: 21px;
        }
        &:after {
            right: 24px;
        }

        .transaction-item__body {
            max-height: 1000px;
        }
    }

    &__header {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 9px;
        padding-right: 17px;

        @include xl {
            padding-right: 89px;
        }
    }

    &__logo {
        min-width: 25px;
        margin: 2px 12px 0 9px;
        img {
            width: 25px;
            height: auto;
        }
    }
    &__info {
        padding-top: 2px;
        line-height: 1.4;
    }
    &__title {
        font-weight: 500;
    }
    &__id {
        color: $gray;
        font-size: px2rem(12px);
    }
    &__status {
        min-width: 100px;
        margin-left: auto;
        margin-right: 14px;
    }
    &__sum {
        min-width: 80px;
        text-align: right;
        line-height: 2.2;
        margin-right: 61px;
    }
    &__date {
        min-width: 100px;
        font-size: px2rem(12px);
        line-height: 1.4;
        &_lh {
            line-height: 2.6;
        }
        &_gray {
            color: $gray;
        }
    }

    &__body {
        padding-right: 8px;
        max-height: 0;
        overflow: hidden;
        transition: all 500ms ease-in-out;
    }
    &__body-content {
        margin-top: 14px;
        margin-left: 18px;
        padding-top: 21px;
        padding-bottom: 3px;
        border-top: $border-silver;
    }
    &__print {
        font-size: px2rem(12px);
        text-transform: uppercase;
        float: right;
        .icon {
            margin-right: 4px;
            top: -2px;
        }
    }
    &__list {
        line-height: 1.6;
        list-style: none;
        margin-left: 0;
        margin-bottom: 33px;
        padding: 0;
    }
    &__label {
        color: $gray;
        font-size: px2rem(12px);
        font-weight: 500;
        text-transform: uppercase;
    }
    &__table {
        margin-bottom: 40px;
        td {
            padding-top: 3px;
            padding-bottom: 4px;
        }
    }
}
