.btn {
    min-width: 108px;
    font-size: px2rem(14px);

    &:not(.btn-sm):not(.btn-lg) {
        padding: px2rem(13px) px2rem(18px);
        &[type="submit"], &[type="button"] {
            font-size: px2rem(12px);
            font-weight: 500;
            text-transform: uppercase;
            padding: 14px 24px;
        }
    }

    &-mw {
        min-width: unset;
    }
    &-sm {
        min-width: unset;
        padding: px2rem(6.5px) px2rem(9.5px);
    }
    &-large {
        min-width: 138px;
    }

    &-round {
        border-radius: 100%;
    }

    .icon {
        margin-right: 3px;
    }
    &-icon {
        .icon {
            margin-right: 0;
        }
    }

    &-increment, &-decrement {
        color: $blue;
        min-width: auto;
        width: 28px;
        height: 28px;
        line-height: 27px;
        font-size: 18px;
        font-weight: 500;
        padding: 0 !important;
        background-color: $silver;
        border-radius: 100%;
    }
    &-decrement {
        color: $red;
    }

    &-light {
        color: $dark-gray;
        font-weight: 500;
        background-color: $light;
        border-color: $silver;
    }
    &-primary {
        background-color: $blue;
        border-color: $blue;
        position: relative;
        &.disabled {
            color: $silver;
            background-color: $body;
            border-color: $silver;
            @include hard-hover {
                box-shadow: 0 0 0 0.2rem rgba($silver, .5);
            }
        }
    }
    &-success {
        background-color: $green-text;
        border-color: $green-text;
        @include hard-hover {
            background-color: darken($green-text, 5);
            border-color: darken($green-text, 5);
        }
    }
    &-link {
        color: $gray;
        min-width: unset;
        text-transform: none !important;
        text-decoration: none !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        line-height: 1.2;
        border-radius: 0;
        @include hard-hover {
            color: $gray;
            text-decoration: none;

            i {
                border-bottom-color: transparent;
            }
        }
        &.btn-sm {
            font-size: 12px;
        }
        i {
            font-style: normal;
            border-bottom: 1px dashed $gray;
        }
        .icon {
            fill: $silver;
            position: relative;
            top: -1px;
        }
    }
}
