.custom-control {
    color: $gray;
    &-label {
        cursor: pointer;
        min-height: 18px;
        line-height: 2.3;
        outline: none;

        &:before {
            width: 18px;
            height: 18px;
            background-color: $white;
            border: 2px solid $silver;
            border-radius: 3px;
            box-shadow: unset;
        }
        &:after {
            width: 18px;
            height: 18px;
        }
    }
    &-input {
        &:checked ~ .custom-control-label {
            color: $dark-gray;
            font-weight: 500;
            &:before {
                background-color: $blue;
                border-color: transparent;
            }
            &:after {
                //background: none;
                .custom-checkbox & {
                    background-image: url(../icons/approve.svg);
                }
            }
        }
        &:focus ~ .custom-control-label:before {
            box-shadow: unset;
        }
    }
    &.custom-checkbox {

    }
    &.custom-radio {
        //margin-left: 5px;
        .custom-control-label {
            color: $gray;
            font-weight: 500;
            padding-left: 2px;
        }
        .custom-control-input:checked {
            & ~ .custom-control-label {
                color: $dark-gray;
                &:before {
                    background-color: $blue;
                }
                &:after {
                    width: 18px;
                    height: 18px;
                    background: $white;
                    border: 6px solid $blue;
                    border-radius: 100%;
                }
            }
        }
    }
    &-select, &-deselect {
        text-decoration: underline;
        margin-left: 3px;

    }
    &-description {
        color: $gray;
        font-weight: 500;
        text-transform: none;
        letter-spacing: 0.009em;
        line-height: 1.3;
        p {
            margin-bottom: 5px;
        }
        ul {
            list-style: none;
            line-height: 1.2;
            letter-spacing: 0;
            margin-bottom: 6px;
            padding-left: px2rem(11px);

            li {
                position: relative;
                &:before {
                    content: '•';
                    color: $gray;
                    display: inline-block;
                    margin-right: 21px;
                }
            }
        }
    }
}
