.filter {
    color: $dark-gray;
    font-size: px2rem(12px);
    text-transform: uppercase;

    & + & {
        margin-left: px2rem(47px);
    }

    &-label {
        color: $gray;
        line-height: 1;
        margin: 0 10px 0 0;
        padding: 2px 0;
    }
    &-field {
        display: inline-block;

        .icon-calendar {
            margin-left: 11px;
            margin-right: 21px;
        }
    }
    &-search {
        input {
            padding-left: 24px !important;
        }
    }
}
