.input-group {
    position: relative;

    > .form-control:not(:first-child),
    > .form-control-shadow:not(:first-child) .form-control {
        padding-left: px2rem(20px);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        &.dropdown {
            border-left: none;
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 1px;
                height: 80%;
                background-color: $silver;
                position: absolute;
                top: 10%;
                left: -1px;
            }
        }
    }

    & > .custom-select:not(:last-child),
    & > .form-control:not(:last-child) {
        border-right: none;
    }

    & > .dropdown:not(:first-child) {
        .dropdown-menu {
            min-width: 100%;
            min-width: calc(100% + 1px);
        }
    }

    &_icon {
        > .form-control:not(:first-child),
        > .form-control-shadow:not(:first-child) .form-control {
            padding-left: px2rem(36px);
        }
    }

    &-prepend {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
    }
    &-append {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
    &-text {
        height: px2rem(48px);
        line-height: px2rem(48px);
        font-size: px2rem(12px);
        padding: px2rem(12px);
        background-color: transparent;
        border: none;
    }
}
