.progress-line {
    &__in {
        width: 100%;
        padding: 48px 9px 31px;
    }
    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        display: block;
        color: $gray;
        font-size: px2rem(12px);
        text-align: center;
        position: relative;
        &:after {
            content: '';
            display: block;
        }
        &:before {
            content: '';
            display: none;
            width: 100%;
            height: 8px;
            background-color: $silver;
            position: absolute;
            top: 8px;
            left: -50%;
            z-index: 5;
        }

        & + & {
            &:before {
                display: block;
            }
            &.line {
                &:before {
                    background-color: $blue;
                }
            }
        }

        &.active {
            .progress-line__icon {
                margin-bottom: 6px;
                &:after {
                    width: 35px;
                    height: 35px;
                    background-color: $white;
                    border: 12px solid $blue;
                    position: relative;
                    top: -6px;
                    box-shadow: rgba($black, .12) 0 9px 12px;
                }
            }
        }
        &.check {
            .progress-line__icon {
                &:after {
                    background-color: $blue;
                    box-shadow: rgba($black, .12) 0 2px 6px;
                }
                &:before {
                    display: block;
                    z-index: 20;
                }
            }
        }
        &.fail {
            .progress-line__icon {
                &:after {
                    background-color: $red;
                    box-shadow: rgba($black, .12) 0 2px 6px;
                }
                &:before {
                    display: block;
                    width: 4px;
                    height: 13px;
                    margin-left: -2px;
                    top: 6px;
                    z-index: 20;
                    background-image: url('data:image/svg+xml;utf8,<svg width="4px" height="13px" viewBox="0 0 4 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs></defs><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-10.000000, -6.000000)" fill="#FFFFFF"><path d="M13.3515625,14.3984375 L11.21875,14.3984375 L10.8828125,6.625 L13.6875,6.625 L13.3515625,14.3984375 Z M10.8046875,16.8203125 C10.8046875,16.4348939 10.944009,16.1184908 11.2226562,15.8710938 C11.5013035,15.6236967 11.8489563,15.5 12.265625,15.5 C12.6822937,15.5 13.0299465,15.6236967 13.3085938,15.8710938 C13.587241,16.1184908 13.7265625,16.4348939 13.7265625,16.8203125 C13.7265625,17.2057311 13.587241,17.5221342 13.3085938,17.7695312 C13.0299465,18.0169283 12.6822937,18.140625 12.265625,18.140625 C11.8489563,18.140625 11.5013035,18.0169283 11.2226562,17.7695312 C10.944009,17.5221342 10.8046875,17.2057311 10.8046875,16.8203125 Z"></path></g></g></svg>');
                }
            }
        }
        &.gray {
            .progress-line__icon {
                &:after {
                    background-color: $silver;
                    box-shadow: none;
                }
                &:before {
                    display: none;
                }

            }
        }
    }
    &__icon {
        display: block;
        text-align: center;
        margin-bottom: 17px;
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            background-color: $silver;
            border-radius: 100%;
            position: relative;
            z-index: 15;
        }
        &:before {
            content: '';
            display: none;
            width: px2rem(12px);
            height: px2rem(10px);
            margin-left: -6px;
            background-image: url('data:image/svg+xml;utf8,<svg width="12px" height="10px" viewBox="0 0 12 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-6.000000, -7.000000)" fill="#FFFFFF"><polygon transform="translate(11.711247, 10.711247) rotate(-45.000000) translate(-11.711247, -10.711247)" points="6.71124708 7.634324 9.01893939 7.634324 9.01893939 11.4804778 16.7112471 11.4804778 16.7112471 13.7881702 6.71124708 13.7881702"></polygon></g></g></svg>');
            position: absolute;
            left: 50%;
            top: 7px;
            z-index: 10;
        }
    }
}
