.upload-file {
    margin-top: 1px;
    &__icon {
        width: 48px;
        height: 48px;
        margin-right: 12px;
        float: left;
    }
    &__content {
        color: $gray;
        font-size: 12px;
        line-height: 1.1;
        padding-top: px2rem(11px);
    }
    &__label, label {
        cursor: pointer;
        display: block;
        color: $gray;
        font-size: 12px;
        font-weight: 500;
        text-transform: none;
        text-decoration: underline;
    }
    &__types {
        display: block;
        font-size: 10px;
    }
    &__input {
        visibility: hidden;
    }
}
