<section class="section information">
    <div class="container">
        <div class="row">
            <div class="section-block w-100">
                <div class="information__in">
                    <h1>Information</h1>
                    <div class="lead">Please, provide information about you</div>

                    <div class="shareholder w-100">
                        <div class="mb-4 text-right">
                            <button class="btn btn-primary btn-sm shareholder__add">{{ mixins.icon('plus') }} Add New
                            </button>
                        </div>
                        <table class="table shareholder__table">
                            <tr>
                                <th>Shareholder</th>
                                <th>Share</th>
                                <th>Beneficial / User</th>
                                <th></th>
                            </tr>
                            <tr data-id="1">
                                <td>
                                    <a href="#" class="shareholder__edit">Shareholder 1</a>
                                    <div class="shareholder__type">Type</div>
                                </td>
                                <td></td>
                                <td>Beneficial<br>User</td>
                                <td>
                                    <a href="#" class="shareholder__remove">{{ mixins.icon('trash') }}</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <form action="">
                        <div class="form-group">
                            <label for="mr">Title</label>
                            <div class="form-control-shadow">
                                <select class="form-control select2" name="mr" id="mr">
                                    <option value="mr">mr.</option>
                                    <option value="mrs">mrs.</option>
                                    <option value="ms">ms.</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="first-name">First name *</label>
                            <div class="form-control-shadow">
                                <input type="text" class="form-control" id="first-name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="wrong">Wrong field</label>
                            <div class="form-control-shadow is-invalid">
                                <input type="text" class="form-control" id="wrong" placeholder="Wrong field">
                            </div>
                            <div class="invalid-feedback">
                                Please fill wrong field
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="valid-field">Valid field</label>
                            <div class="form-control-shadow is-valid">
                                <input type="text" class="form-control" id="valid-field" placeholder="Valid field">
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name">Middle name</label>
                            <div class="form-control-shadow">
                                <input type="text" class="form-control" id="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Country4">Country</label>
                            <div class="input-group input-group_icon">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{ mixins.icon('search') }}</span>
                                </div>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control autocomplete" data-url="countries.html"
                                           id="Country4" placeholder="Find your country">
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text">{{ mixins.icon('dropdown') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="h5">Company legal address</div>
                        <div class="form-group pl-6">
                            <label for="Country2">Country</label>
                            <div class="input-group input-group_icon">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{ mixins.icon('search') }}</span>
                                </div>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control autocomplete" data-url="countries.html"
                                           id="Country2" placeholder="Find your country">
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text">{{ mixins.icon('dropdown') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pl-6">
                            <label for="city2">City *</label>
                            <div class="form-control-shadow">
                                <input type="text" class="form-control" id="city2" required>
                            </div>
                        </div>
                        <div class="form-group pl-6">
                            <label for="postal-code">postal code</label>
                            <div class="form-control-shadow">
                                <input type="text" class="form-control" id="postal-code">
                            </div>
                        </div>
                        <div class="form-group pl-6">
                            <label for="streetMy">street</label>
                            <div class="form-control-shadow">
                                <input type="text" class="form-control" id="streetMy">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bdate">Birthday date *</label>
                            <div class="form-control-shadow">
                                <input class="form-control" data-provide="datepicker" data-date-format="dd - mm - yyyy"
                                       data-date-end-date="0d" data-defaultViewDate="year" id="bdate"
                                       placeholder="DD - MM - YYYY">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio"
                                           class="custom-control-input" checked>
                                    <label class="custom-control-label" for="customRadio1">Male</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mar">Marital status *</label>
                            <div class="form-control-shadow">
                                <select class="form-control select2" name="mr" id="mar">
                                    <option value="single">Single</option>
                                    <option value="couple">Couple</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="currency-select">Multiple</label>
                            <div class="form-control-shadow">
                                <select class="form-control select2" name="mr" id="currency-select" multiple>
                                    <option value="mr">USD</option>
                                    <option value="mrs">PLN</option>
                                    <option value="ms">EUR</option>
                                    <option value="ms">UAH</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="internationallll">
                                <label class="custom-control-label" for="internationallll">
                                    International Payment (OUTSIDE EU)
                                </label>
                            </div>
                        </div>
                        <div class="form-group row pt-1 is-invalid">
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="international-invalid-2">
                                    <label class="custom-control-label" for="international-invalid-2">
                                        International Payment (OUTSIDE EU)
                                        <span class="invalid-feedback">
                                — Your IBAN number is international
                                </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="descp" checked>
                                <label class="custom-control-label" for="descp">
                                    Are you US citizen / rezident?
                                    <span class="custom-control-description">
                                        <p>Answer ‘yes’ if you’re a US resident alien or currently hold US citizenship.
                                            <br>Thes includes if your:</p>
                                        <ul>
                                            <li>Were born in the US</li>
                                            <li>Have a parent who’s a US citizen</li>
                                            <li>Are a US passport holder</li>
                                            <li>Hold dual citizenship with the US and another country</li>
                                        </ul>
                                        <p>If you answer ‘yes’ you’ll also need to provide a completed, signed…</p>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox float-right">
                                <input type="checkbox" class="custom-control-input" id="tclink" checked>
                                <label class="custom-control-label" for="tclink">
                                    Accept
                                </label>
                            </div>
                            <label for="tclink" class="form-group-label">T&C link</label>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox float-right">
                                <input type="checkbox" class="custom-control-input" id="agreement" checked>
                                <label class="custom-control-label" for="agreement">
                                    Accept
                                </label>
                            </div>
                            <label for="agreement" class="form-group-label">Payment agreement link</label>
                        </div>
                        <div class="form-group">
                            <label for="phone-mobi">Phone number *</label>
                            <div class="form-control-shadow">
                                <input type="text" class="form-control" id="phone-mobi" value="+" data-default="+"
                                       pattern="[0-9+]">
                                <label class="form-control-placeholder" for="phone-mobi"><b>+</b>XX XXX XXX XXXX</label>
                            </div>
                            <div class="form-group-addon">
                                <a href="#" data-popup="#smsverification">Confirm</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone2">Phone number *</label>
                            <div class="form-control-shadow">
                                <input type="text" class="form-control not-default" id="phone2" value="+380987654321"
                                       data-default="+" pattern="[0-9+]">
                                <label class="form-control-placeholder" for="phone2"><b>+</b>XX XXX XXX XXXX</label>
                            </div>
                            <div class="form-group-addon">
                                {{ mixins.icon('approve') }} Verified number
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone3">Phone number *</label>
                            <div class="form-control-shadow is-invalid">
                                <input type="text" class="form-control not-default" id="phone3" value="+380000000000"
                                       data-default="+" pattern="[0-9+]">
                                <label class="form-control-placeholder" for="phone3"><b>+</b>XX XXX XXX XXXX</label>
                            </div>
                            <div class="form-group-addon">
                                {{ mixins.icon('decline') }} Unverified number
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <label for="currency">Your annual income before tax (CCY + number)</label>
                            </div>
                            <div class="col-6">
                                <div class="form-control-shadow">
                                    <select class="form-control select2" name="mr" id="currency">
                                        <option value="usd">USD</option>
                                        <option value="eur">EUR</option>
                                        <option value="pln">PLN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control" id="placeholder" placeholder="placeholder">
                                </div>
                            </div>
                        </div>
                        <h1>Upload documents</h1>
                        <div class="lead">Please upload documents</div>
                        <ul class="upload-list">
                            {% for i in range(1, 7) %}
                            <li class="upload-list__item">
                                <div class="upload-item {% if i == 1 or i == 2 %}upload-item_required{% endif %}">
                                    <div class="upload-item__image">
                                        <div class="upload-item__img-wrap">
                                            {% if i == 1 %}
                                            <img src="temp-upload/longo.png" alt="longo">
                                            {% else %}
                                            {{ mixins.icon('upload-add') }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="upload-item__info">
                                        <div class="upload-item__title">Passport</div>
                                        <div class="upload-item__description">
                                            {% if i == 1 %}
                                            Extract from Corporate Register or Chamber of Commerce or other proof of
                                            registration with the home country’s registering body – e.g. Companies House
                                            in the UK. This document shall contain the following minimum information:
                                            Company names, Company registration number, Date of incorporation, Company
                                            legal address, Company’s direct shareholders, Company’s directors.
                                            {% else %}
                                            Description
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="upload-item__btns">
                                        <label for="upload"
                                               class="btn upload-item__btn {% if i == 1 %}btn-link{% else %}btn-light{% endif %} btn-sm">
                                            {{ mixins.icon('upload') }} {% if i == 1 %}Update{% else %}Upload{% endif %}
                                        </label>
                                        <button class="upload-item__remove {% if i !== 1 %}d-none{% endif %}">{{
                                            mixins.icon('trash') }}
                                        </button>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <input type="file" id="upload" class="d-none">
                        <div class="clearfix">
                            <button class="btn btn-light float-right" type="submit">Back</button>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
