$white: #fff;
$black: #000;
$body: #F7F7F7;
$gray: #999999;
$dark-gray: #1F1F1F;
$silver: #E5E5E5;
$light-silver: #F3F3F3;
$light: #FDFDFD;
$blue: #1C9AF7;
$red: #E00101;
$green: #4CE001;
$green-text: #498403;
$green-bg: #ECF8DF;
$warning-text: #846D03;
$warning-bg: #F7F1D7;
$danger-text: #79170F;
$danger-bg: #FCEAEA;
$secondary-bg: #F0F0F0;

$max-width: 1170px;

// Shadows
$shadow-light: rgba($black, .03) 0 6px 12px;
$shadow-input: rgba($black, .04) 0 3px 12px;
$shadow-popup: rgba($black, .24) 0 0 36px;
$shadow-red: rgba($red, .36) 0 2px 12px;

// Borders
$border-silver: 1px solid $silver;
$border-light: 1px solid $light-silver;
$border-body: 1px solid $body;
