.navbar {
    margin-bottom: 36px;
    &-light {
        background-color: $white;
    }
    &-container {
        //padding-left: 0;
        //padding-right: 0;
    }
    &-collapse {
        width: 100%;
        background-color: $white;
        border-bottom: $border-silver;
        position: absolute;
        top: 72px;
        left: 0;
        z-index: 1050;
        @include lg {
            position: relative;
            top: 0;
            background: transparent;
            border-bottom: none;
        }
    }
    &-brand {
        margin-right: 33px;
        padding-top: 12px;
        padding-bottom: 14px;
    }
    &-logo {
        height: 20px;
    }
    &-menu-wrapper {
        padding-left: 10px;
        position: inherit;
    }
    &-icon {
        margin-right: 36px;
        a {
            @include hover {
                .icon {
                    fill: $black;
                }
            }
        }
        .icon {
            position: relative;
            top: -1px;
        }
    }
}
