.icon-approve {
  width: 1.25em;
  height: 1em;
  fill: #FFF;
}
.icon-arrow-right {
  width: 1.5em;
  height: 1em;
  fill: #D8D8D8;
}
.icon-bell {
  width: 0.94em;
  height: 1em;
  fill: #999;
}
.icon-big-approve {
  width: 1.36em;
  height: 1em;
  fill: none;
}
.icon-burger-dots {
  width: 0.25em;
  height: 1em;
  fill: #1F1F1F;
}
.icon-calendar {
  width: 0.92em;
  height: 1em;
  fill: #999;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: #999;
}
.icon-decline {
  width: 1em;
  height: 1em;
  fill: #E00101;
}
.icon-dropdown-down {
  width: 1.8em;
  height: 1em;
  fill: #999;
}
.icon-dropdown-up {
  width: 1.8em;
  height: 1em;
  fill: #999;
}
.icon-dropdown {
  width: 0.6em;
  height: 1em;
  fill: #999;
}
.icon-exchange-arrows {
  width: 0.76em;
  height: 1em;
  fill: #999;
}
.icon-export-arrow {
  width: 1.3em;
  height: 1em;
  fill: #999;
}
.icon-file-view {
  width: 0.79em;
  height: 1em;
  fill: #999;
}
.icon-file {
  width: 0.79em;
  height: 1em;
  fill: #999;
}
.icon-heart {
  width: 1.13em;
  height: 1em;
  fill: #E5E5E5;
}
.icon-inbox {
  width: 1.25em;
  height: 1em;
  fill: #999;
}
.icon-notebook {
  width: 0.78em;
  height: 1em;
  fill: #999;
}
.icon-pin {
  width: 1em;
  height: 1em;
  fill: #E5E5E5;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-print {
  width: 1em;
  height: 1em;
  fill: #999;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #999;
}
.icon-smile {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: #E5E5E5;
}
.icon-support {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-trash {
  width: 0.75em;
  height: 1em;
  fill: #999;
}
.icon-upload-add {
  width: 0.97em;
  height: 1em;
  fill: #999;
}
.icon-upload-exist {
  width: 0.97em;
  height: 1em;
  fill: #999;
}
.icon-upload {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
